/*styles for homepage*/
.homepage{
    background-color: #1d1d1d;
    overflow: hidden;
}

.insidehome{
    opacity: .4;
}

img1{
    z-index: -1;
}

#Button1{
    z-index: 1;
    color: white;
    position: absolute;
    top: 305px;
    left: 595px;
    border: 2.5px solid black;
    border-radius: 24px;
    background-color: rgba(0,0,0,0.3);
    height: 50px;
    width: 125px;
    font-size: 14px;
    text-shadow: 3px 3px 2px black;
}
/*-----------------------------------------------------------------------------------------------------*/
/*styles for store*/
